.contacto-aviso { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.contacto { font-size: 16px; border:1px blue solid; background-color: aliceblue;}
form.contacto div { clear: left; margin-bottom: 10px; border:1px cyan solid;}
form.contacto label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.contacto input[type="text"],
form.contacto input[type="email"]
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.contacto textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form.contacto input[type="submit"] { margin-left: 110px; width: 508px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.contacto ul li { color: #ff0000; margin-bottom: 5px; }