{% extends '::frontend.html.twig' %}

{% block title %}Portada{% endblock %}

{% block article %}
    article
    {% for mensaje in app.session.flashbag.get('info') %}
        <p class="info">{{ mensaje }}</p>
    {% endfor %}
{% endblock article %}
        
{% block aside %}aside{% endblock aside %}

