{% extends '::frontend.html.twig' %}

{% block title 'Acerca de' %}

{% block article %}
    <p><h1>Acerca de este sitio</h1></p>

    <p>Aplicaci칩n web que a partir de una ubicaci칩n, indicada mediante el nombre de una ciudad y sus coordenadas geogr치ficas, obtiene informaci칩n relacionada de diversas fuentes y la muestra.</p>

    <h2>Capturas</h2>
    
    <p><img src="{{ asset('bundles/inicio/images/capturas.png') }}" /></p>
{% endblock article %}