{% extends '::frontend.html.twig' %}

{% block title 'Crear Viaje' %}

{% block article -%}
    <p><h1>Crear viaje</h1></p>

    <form action="{{ path('viaje_crear') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="boton">Crear</button>
        </p>
    </form>

{% endblock %}
