{% extends '::frontend.html.twig' %}

{% block title 'Crear Viaje' %}

{% block article -%}
    <h1>Crear viaje</h1>

    <form action="{{ path('viaje_crear') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Crear</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('viaje') }}">volver</a>
        </li>
    </ul>
{% endblock %}
{% block aside %}{% endblock %}